*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 375px;
  height: 100vh;
  /* border: 1px solid;
  border-radius: 10px;
  background-color: aliceblue; */
  /* margin: 15px auto; */
}
